@model IEnumerable<Article>

@{
    ViewData["Title"] = "Articles";
}

<h2>Articles</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(a => a.Name)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.Price)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.Category)
            </th>
            <th>
                @Html.DisplayNameFor(a => a.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="dyn-article-wrapper">
    @foreach (var article in Model) {
        <tr>
            <td>
                @Html.DisplayFor(_ => article.Name)
            </td>
            <td>
                @Html.DisplayFor(_ => article.Price)
            </td>
            <td>
                @Html.DisplayFor(_ => article.Category!.Name)
            </td>
            <td>
                <img alt="@Html.DisplayFor(_ => article.Name)" width="100" class="img-fluid rounded" src="@Html.DisplayFor(_ => article.Photo)" />
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@article.Id">Details</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@article.Id">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@article.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</p>
<template id="article-template">
    <tr>
        <td data-article-name></td>
        <td data-article-price></td>
        <td data-article-category-name></td>
        <td>
            <img data-article-photo width="100" class="img-fluid rounded" />
        </td>
        <td>
            <a data-article-details-link class="btn btn-sm btn-info">Details</a>
            <a data-article-edit-link class="btn btn-sm btn-warning">Edit</a>
            <a data-article-delete-link class="btn btn-sm btn-danger">Delete</a>
        </td>
    </tr>
</template>

@section Scripts {
    <partial name="_PaginationScriptPartial" />
    <script>
        paginate({
            wrapperElement: document.getElementById("dyn-article-wrapper"),
            urlBuilder: page => `${location.origin}/api/articles/paginated/${page}`,
            childBuilder: item => {
                const tr = document.getElementById("article-template").content.cloneNode(true);
                const fill = attr => {
                    const result = tr.querySelector(`[data-article-${attr}]`);
                    result.removeAttribute(`data-article-${attr}`);
                    return result;
                }
                fill("name").textContent = item.name;
                fill("price").textContent = "$" + item.price;
                fill("category-name").textContent = item.categoryName;
                const photo = fill("photo");
                photo.src = item.photo;
                photo.alt = item.name;
                fill("details-link").href = `/Articles/Details/${item.id}`;
                fill("edit-link").href = `/Articles/Edit/${item.id}`;
                fill("delete-link").href = `/Articles/Delete/${item.id}`;
                return tr;
            }
        });
    </script>
}
