@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(c => c.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var category in Model) {
        <tr>
            <td>
                @Html.DisplayFor(_ => category.Name)
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@category.Id">Details</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</p>
