@model IEnumerable<Article>

@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category!.Name)
            </td>
            <td>
                <img alt="@Html.DisplayFor(modelItem => item.Name)" width="100" class="img-fluid rounded" src="@Html.DisplayFor(modelItem => item.Photo)" />
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Create</a>
</p>
