@model Article
<table class="table is-bordered">
    <tr>
        <th>@Html.DisplayNameFor(a => a.Id)</th>
        <td>@Html.DisplayFor(a => a.Id)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(a => a.Name)</th>
        <td>@Html.DisplayFor(a => a.Name)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(a => a.Price)</th>
        <td>@Html.DisplayFor(a => a.Price)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(a => a.ExpirationDate)</th>
        <td>@Html.DisplayFor(a => a.ExpirationDate)</td>
    </tr>
    <tr>
        <th>@Html.DisplayNameFor(a => a.Category)</th>
        <td>@Html.DisplayFor(a => a.Category)</td>
    </tr>
</table>
