@model Article
<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Category!.Name)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <img src="@Html.DisplayFor(model => model.Photo)" alt="@Html.DisplayFor(model => model.Name)" class="rounded ml-auto" />
    </div>
</div>
