@using StoreApp.Data
@model StoreIndexViewModel

<div class="row">
    <form class="col-sm-6 offset-sm-3">
        <div class="form-group row">
            <label asp-for="CategoryId" class="col-sm-4 col-form-label control-label"></label>
            <div class="col-sm-8">
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories" onchange="this.form.submit()">
                    <option disabled selected value=""></option>
                </select>
            </div>
        </div>
    </form>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Articles.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Articles.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Articles.First().Photo)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody id="dyn-article-wrapper">
    @foreach (var article in Model.Articles) {
        <tr>
            <td>
                @Html.DisplayFor(_ => article.Name)
            </td>
            <td>
                @Html.DisplayFor(_ => article.Price)
            </td>
            <td>
                <img alt="@Html.DisplayFor(_ => article.Name)" width="100" class="img-fluid rounded" src="@Html.DisplayFor(_ => article.Photo)" />
            </td>
            <td>
                @if (!User.IsInRole(Role.Admin))
                {
                    <form asp-controller="Cart" asp-action="IncrementArticleCount" asp-route-id="@article.Id" class="d-inline-block act-add-to-cart">
                        <input type="submit" value="Add To Cart" class="btn btn-sm btn-primary" />
                    </form>
                }
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@article.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>
<template id="article-template">
    <tr>
        <td data-article-name></td>
        <td data-article-price></td>
        <td>
            <img data-article-photo width="100" class="img-fluid rounded" />
        </td>
        <td>
            @if (!User.IsInRole(Role.Admin))
            {
                <form data-article-submit-form method="post" class="d-inline-block act-add-to-cart">
                    <input type="submit" value="Add To Cart" class="btn btn-sm btn-primary" />
                </form>
            }
            <a data-article-details-link class="btn btn-sm btn-info">Details</a>
        </td>
    </tr>
</template>

@section Scripts {
    <partial name="_PaginationScriptPartial" />
    <script>
        paginate({
            wrapperElement: document.getElementById("dyn-article-wrapper"),
            urlBuilder: page => `${location.origin}/api/articles/paginated/${page}?categoryId=@Model.CategoryId`,
            childBuilder: item => {
                const tr = document.getElementById("article-template").content.cloneNode(true);
                const fill = attr => {
                    const result = tr.querySelector(`[data-article-${attr}]`);
                    result?.removeAttribute(`data-article-${attr}`);
                    return result;
                }
                fill("name").textContent = item.name;
                fill("price").textContent = "$" + item.price;
                const photo = fill("photo");
                photo.src = item.photo;
                photo.alt = item.name;
                const form = fill("submit-form");
                if (form) {
                    form.action = `/Cart/IncrementArticleCount/${item.id}`;
                    mountActAddToCart(form);
                }
                fill("details-link").href = `/Articles/Details/${item.id}`;
                return tr;
            }
        });
    </script>
}
